// Text Alignment
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}


// Display
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}


// Vertical Center
.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


// Display State
.show {
	display: block;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}


// Floats
.float-left {
	float: left;
}

.float-right {
	float: right;
}


// Padding
.no-padding {
	padding: 0;
}


// Margins
.no-margin {
	margin: 0;
}

// Callout
.notice--red {
	background-color: #ff3e3e57;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--yellow {
	background-color :#fffb8267;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--pink {
	background-color:  #ffafe681;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--green {
	background-color: #a9f55277;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--blue {
	background-color: #beefff75;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--gray {
	background-color: #0000001a;
	padding: 10px; 
	border-radius: 10px; 
}

.callout {
	position: relative;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin: 20px 0;
  }
  
  .callout::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f9f9f9 transparent;
  }


// Lists Reset
.list-reset {
	@include list-reset();
}

// Clearfix
.clearfix {
  @include clearfix();
}

// Screen Reader
.screen-reader-text {
	@include screen-reader();
}