// Text Alignment
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}


// Display
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}


// Vertical Center
.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


// Display State
.show {
	display: block;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}


// Floats
.float-left {
	float: left;
}

.float-right {
	float: right;
}


// Padding
.no-padding {
	padding: 0;
}


// Margins
.no-margin {
	margin: 0;
}

// Callout
.notice--red {
	background-color: #ff3e3e57;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--yellow {
	background-color :#fffb8267;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--pink {
	background-color:  #ffafe681;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--green {
	background-color: #a9f55277;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--blue {
	background-color: #beefff75;
	padding: 10px; 
	border-radius: 10px; 
}

.notice--gray {
	background-color: #0000001a;
	padding: 10px; 
	border-radius: 10px; 
}

.speech-bubble {
	position: relative;
	background: #ededed;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 89px solid transparent;
	border-right-color: #ededed;
	border-left: 0;
	border-bottom: 0;
	margin-top: -44.5px;
	margin-left: -89px;
}

//quote 

.blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 6px solid #ccc;
}


// Lists Reset
.list-reset {
	@include list-reset();
}

// Clearfix
.clearfix {
  @include clearfix();
}

// Screen Reader
.screen-reader-text {
	@include screen-reader();
}